section {
    background: url(/public/image/stars1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-product {
    text-align: center;
}

.list-product li {
    list-style: none;
    margin: 14px 0;
}

.list-product li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    background: darkblue;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    transition: 0.5s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.list-product li a:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}