section {
    background: url(/public/image/stars1.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-product {
    text-align: center;
}

.list-product:hover li a {
    opacity: 0;
}

.list-product li {
    list-style: none;
    margin: 14px 0;
}

.list-product li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    background: darkblue;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    width: 400px;
    transition: 0.5s;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.list-product li a:hover {
    background: darkmagenta;
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.list-product li::after a:hover {
    transform: translate(-50%, -0%);
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
}

.list-product li::after {
    content: attr(data-text);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    letter-spacing: 50px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translate(-50%, -0%);
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
}

.list-product li:hover::after {
    opacity: 0.5;
    letter-spacing: 5px;
}

.list-product li::before {
    content: "";
    width: 180px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.list-product li:hover::before {
    opacity: 0.5;
    width: 80px;
}

.Image {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}